pid = /tmp/stunnel.pid
output = /dev/stdout

[redis-tls]
client = yes
accept = 127.0.0.1:6379
connect = ${REDIS_HOST}:${REDIS_PORT}
; This runs as a client, accepting an insecure local connection
; and forwarding it over a secure TLS channel.

pid = /tmp/stunnel.pid

[redis-client]
client = yes
accept = 127.0.0.1:6379
connect = __REDIS_HOST__:__REDIS_PORT__
